html,body{
    width: 100%;
    height: 100%;
    font-family: MicrosoftYaHei;
    font-size: 62.5%;
}
.tab-item-active{
     background-color: red;
    /*left: 0;*/
 }
ion-tabs.tabs-color-active-assertive .tab-item.tab-item-active{
    color: white;
}
.homeDivHearBar{
    height: 4.6rem;
    background-color:#F9FDFC;
}
.homeDivHearBar .homeDivHearBarLabel{
    border-radius: 25px;
    width: 26.25rem;
    height: 2.52rem;
    background-color: #F9FDFC;
    border: 1px solid #B5B5B5;

}

.homeDivHearBar img{
    width: 4.8rem;
    height: 2.45rem;
}
.homeHearr img{
    width: 2.2rem;
    height: 1.4rem
}
.homeContent{
    background-color: #eeeeee;
    /*text-align: center;*/
}
.homeContentDivLb{
    width: 100%;
    height: 14.5rem;
    background-color: #4cd964;
}
.homeContentDivTj{
    position: relative;
    padding-bottom:8.6%;
}
.homeContentDivTj>img{
    position: absolute;
    left: 0;top: 0;right: 0;bottom: 0;
    margin: auto;
    width: 40%;
}
.contentContentDiv{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: #eeeeee;
}
.contentContentDiva{
    background-color: #ffffff;
    width: 48%;
    margin-bottom: 1rem;
    font-family: 微软雅黑;
    color: #E60012;
}
.contentContentDivA{
    background-color: darkgray;
    text-align: center;
}
.contentContentDivD{
    padding: .5rem;
    overflow: hidden;
    font-size: 1.2rem;
    color: #333333;
}
.contentContentDivA img{
    width: 60%;
    height: 60%;
    margin-left: .5rem;
    margin-top: .5rem
}
.contentContentDivDiv{
    margin-left: .5rem;
}
.contentContentDivDiv span{
    font-size: 1.2rem;
}
.contentContentDivDiv s{
    margin-left: .3rem;
    color: #666666;
}
.contentContentDivimgT{
    float: right;
    margin-top: -1rem;
}
.contentContentDivimgT img{
    width: 3.3rem;
    height: 3.3rem;
}
.topicButton{
    width: 50px;
    position: fixed;
    right: 1rem;
    bottom: 6rem;
    height: 50px;
}
/*客服按钮*/

div #rong-conversation{
left: 0;
}
.rongcloud-kefuBtnBox{
height: 60px;
width: 60px;
border-radius: 50%;
}
.rongcloud-kefuBtn .rongcloud-people{
display: none;
}
#rong-conversation{
width: 300px;
height: 800px;
display: inline-block;
}
#rong-widget-minbtn{
background:url("../images/service.png") no-repeat  center/100%;
}
.rongcloud-kefuChat #header{
background: green;
}


/*个人中心*/
.myContent{
    background-color: #eeeeee;
}
.myDiv{
    display: flex;
    height: 8.4rem;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid silver;
}
.myDiv div:nth-child(1){
    width: 29%;
    height: 100%;
    display: flex;
}
.myDiv div:nth-child(1) img{
    width: 80%;
    height: 80%;
    margin: auto;
}
.myDiv div:nth-child(2){
     width: 70%;
     height: 50%;
    padding: 0;
    margin: auto 0;
 }
.myDiv div:nth-child(2) h5{
    margin: 0;
}
.myDiva{
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    height: 7.7rem;
    width: 100%;
}
.myDiva>div{
    width: 50%;
    background-color: #ffffff;
    height: 90%;
    display: flex;
    margin: auto;
    border-radius: 0;
}
.myDiva>div:nth-child(1){
    border-right: 1px solid silver;
}
.myDiva>div div:nth-child(1){
    margin: auto;
    height: 100%;
    margin-top: 3px;
}
.myDiva img{
    width: 25%;
    height: 35%;
}
.myDiva p{
    margin-top: -30%;
}

.myContent a{
    display: flex;
}
.myContent a>.icon {
    color: #c6c6c6;
    font-size: 2rem;
}
.myContent a img{
    width: 2rem;
    height: 2rem;
    margin-right: 4%;
}
.myContent a span{
    position: absolute;
    /*margin-left:55%;*/
    right: 10%;
}
.myDivBt>div:nth-child(1),.myDivBt>div:nth-child(2),.myDivBt>div:nth-child(3),.myDivBt>div:nth-child(4){
margin-top: 1rem;

}
.item-note {
    color: #aaa;
}
/*.myDiva .myDivaS p{*/
/*margin: -15px;*/
/*}*/

/*模态窗口*/
.modal-backdrop{
   background-color: rgba(0, 0, 0, 0.37);
}
.modal{
    /*top: 0;*/
    min-height: 10%;
    background-color: rgba(255, 255, 255, 0);
    top: auto;
    bottom: 0;
}
.modal .modalContent{
    min-height: 100%;
    background-color: white;
    top: auto;
    bottom: 0;
}
.modal .modalContent .modalRow button{
    background-color: #00a0ff;
}

/*live页面的*/

.livContent{
    background-color: #eeeeee;
}
.livContent .contentContentDiv{
    margin-top: 25px;
}


/*sHop页面*/
.sHop{
    background-color: rgba(0, 0, 0, 0.3);
}
.sHopDiv{
    width: 100%;
    height: 100%;
    background-color: white;
    padding:3px;
    display: flex;
}
.sHop .sHopDiv .item{
    width: 100%;
    border: 0;
}
.sHop .sHopDiv .item-thumbnail-left>img:first-child {
    background-color: #0c60ee;
    max-width: 13.3rem;
    max-height: 10.7rem;
}
.sHop .sHopDiv .sHopss{
    margin: 0 23%;
}
.sHop .sHopDiv .sHopss>div{
    margin-top: 15%;
}
.sHop .sHopDiv .sHopss>div .button img{
width: 60%;
    height: 80%;
}
.sHop .sHopDiv .sHopss>div span{
    margin-right: 10%;
    background-color: white;
}
.sHop .sHopDiv .sHopss>div span:nth-child(1){
    color: red;
    font-size: 1.3rem;
}
.sHop .sHopDiv .sHopss>div span:nth-child(1) span:nth-child(1){
    font-size: 2rem;

}

/*myshou页面*/
.myshouContenet{
    background-color: gainsboro;
}
.myshou{
    width: 100%;
    height: 10rem;
    background-color: white;
    margin-bottom: 1rem;
}
.myshoua{
    width: 95%;
    height: 6rem;
    margin:0 auto;
    border-bottom: 1px solid lightgray;
}
.myshoua>span:nth-child(2){
    float: right;
    line-height: 3.5rem;
}
.myshou .myshoua>span:nth-child(1){
    font-size: 30px;
    line-height: 3.5rem;
}
.myshoua>p{
    line-height: 3rem;
}
.myshoub{
    width: 95%;
    height: 4rem;
    display: flex;
    margin: 0 auto;
}
.myshoub>span:nth-child(1){
    line-height: 4rem;
}
.myshoub .myshouba .item-checkbox .item-content .disable-pointer-events{
    margin-top: 20px;
}
.checkbox input:checked+.checkbox-icon:before, .checkbox input:checked:before{
    background: red;
    border-color: red;
}
.checkbox input:before, .checkbox-icon:before{
    border-radius:0;
    width: 70%;
    height: 70%;
    margin-left: -15px;
    margin-top:15%;
    background-color: lightgrey;
}

.checkbox input:after, .checkbox-icon:after{
    top: 20%;
    left: -40%;
    border: 2px solid #fff;
    border-top: 0;
    border-right: 2px;
}
.myshou .myshoub .item{
    padding: 0 50px;
    border: 0;
    margin: 0;
    height: 3.5rem;
}
.myshou .myshoub .item .item-content{
    left: 25%;
    position: absolute;
    font-size: 15px;
}
.myshouba  img{
    width: 1.6rem;
    height: 1.5rem;
}
.myshoub div span{
    line-height: 4rem;
}
.myshoub .myshouba{
    position: absolute;
    right: 0;
}

/*addressmodal页面*/

.input-label{
    padding:7px 10px 7px 20px;
}
.modal .modalContent .list .addressmodal{
    padding:7px 30px 7px 100px;
}
.modal .modalContent .list .addressmodal a{
    margin-left: 30px;
    /*display: inline-block;*/
}

/*弹出框样式*/
.popup-body {
    padding: 10px;
    overflow: auto;
    text-align: center;
    font-size: 1.5rem;
}

/*model页面样式表*/

/*.modalContenta{*/
    /*margin: 0 auto;*/
/*}*/
/*.modalContenta span:nth-child(2){*/
    /*float: right;*/
/*}*/
/*.modalContent .modalContenta .button-bar{*/
    /*width: 50%;*/
    /*margin-top: -5px;*/
    /*height: 8px;*/
/*}*/
/*.modalContent .modalContentA{*/
    /*line-height: 5px;*/
/*}*/

/*购物车*/
.modalContenta{
    padding: 10px 5px;
    width: 95%;
    margin: 0 auto;

}
.shopCar{
    float: right;
}
.shopCar button:nth-child(1),.shopCar button:nth-child(3){
    width: 5rem;
    background: #E3E3E3;
    border: 1px solid #E3E3E3;
    color: white;
}
.shopCar button:nth-child(2){
    width: 5rem;
    background: white;
    border: 1px solid #E3E3E3;
}