html,body{
    width: 100%;
    height: 100%;
    font-family: MicrosoftYaHei;
    font-size: 62.5%;
}
.tab-item-active{
     background-color: red;
    /*left: 0;*/
 }
ion-tabs.tabs-color-active-assertive .tab-item.tab-item-active{
    color: white;
}
.homeDivHearBar{
    height: 4.6rem;
    background-color:#F9FDFC;
}
.homeDivHearBar .homeDivHearBarLabel{
    border-radius: 25px;
    width: 26.25rem;
    height: 2.52rem;
    background-color: #F9FDFC;
    border: 1px solid #B5B5B5;

}

.homeDivHearBar img{
    width: 4.8rem;
    height: 2.45rem;
}
.homeHearr img{
    width: 2.2rem;
    height: 1.4rem
}
.homeContent{
    background-color: #eeeeee;
    /*text-align: center;*/
}
.homeContentDivLb{
    width: 100%;
    height: 14.5rem;
    background-color: #4cd964;
}
.homeContentDivTj{
    position: relative;
    padding-bottom:8.6%;
}
.homeContentDivTj>img{
    position: absolute;
    left: 0;top: 0;right: 0;bottom: 0;
    margin: auto;
    width: 40%;
}
.contentContentDiv{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: #eeeeee;
}
.contentContentDiva{
    background-color: #ffffff;
    width: 48%;
    margin-bottom: 1rem;
    font-family: 微软雅黑;
    color: #E60012;
}
.contentContentDivA{
    background-color: darkgray;
    text-align: center;
}
.contentContentDivD{
    padding: .5rem;
    overflow: hidden;
    font-size: 1.2rem;
    color: #333333;
}
.contentContentDivA img{
    width: 60%;
    height: 60%;
    margin-left: .5rem;
    margin-top: .5rem
}
.contentContentDivDiv{
    margin-left: .5rem;
}
.contentContentDivDiv span{
    font-size: 1.2rem;
}
.contentContentDivDiv s{
    margin-left: .3rem;
    color: #666666;
}
.contentContentDivimgT{
    float: right;
    margin-top: -1rem;
}
.contentContentDivimgT img{
    width: 3.3rem;
    height: 3.3rem;
}
.topicButton{
    width: 50px;
    position: fixed;
    right: 1rem;
    bottom: 6rem;
    height: 50px;
}
/*客服按钮*/

div #rong-conversation{
left: 0;
}
.rongcloud-kefuBtnBox{
height: 60px;
width: 60px;
border-radius: 50%;
}
.rongcloud-kefuBtn .rongcloud-people{
display: none;
}
#rong-conversation{
width: 300px;
height: 800px;
display: inline-block;
}
#rong-widget-minbtn{
background:url("../images/service.png") no-repeat  center/100%;
}
.rongcloud-kefuChat #header{
background: green;
}


/*个人中心*/
.myContent{
    background-color: #eeeeee;
}
.myDiv{
    display: flex;
    height: 10.4rem;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid silver;
}
.myDiv div:nth-child(1){
    width: 29%;
    height: 100%;
    display: flex;
}
.myDiv div:nth-child(1) img{
    width: 80%;
    height: 80%;
    margin: auto;
}
.myDiv div:nth-child(2){
     width: 70%;
     height: 50%;
    margin: auto 0;
 }
.myDiva{
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    height: 7.7rem;
    width: 100%;
}
.myDiva>div{
    width: 50%;
    background-color: #ffffff;
    height: 90%;
    display: flex;
    margin: auto;
    border-radius: 0;
}
.myDiva>div:nth-child(1){
    border-right: 1px solid silver;
}
.myDiva>div div:nth-child(1){
    margin: auto;
    height: 100%;
    margin-top: 3px;
}
.myDiva img{
    width: 30%;
    height: 60%;
}
.myDiva p{
    margin-top: -30%;
}