
    <ion-header-bar class="bar bar-header item-input-inset homeDivHearBar">
        <img src="images/1.png">
        <label class="item-input-wrapper homeDivHearBarLabel">
            <input type="search" placeholder="例:大闸蟹">
            <i class="icon ion-ios-search placeholder-icon"></i>
        </label>
        <div class="button button-clear homeHearr"><img src="images/sidelist.png"></div>
    </ion-header-bar>

<ion-view>
        <ion-content class="homeContent">
           <div class="homeContentDivLb">
               <ion-slide-box>
                   <ion-slide>
                       <div class="box blue"><h1>BLUE</h1></div>
                   </ion-slide>
               </ion-slide-box>
           </div>

            <div class="homeContentDivTj" >
                <img src="images/Recommend.png">
            </div>
            <div class="contentContentDiv" >
                    <div class="contentContentDiva" ng-repeat="it in items"  >
                        <div class="contentContentDivA">
                            <img ng-src="{{'http://114.112.94.166/'+it.goods_introduction}}" ng-click="doSome($index)" >
                        </div>
                        <div>
                            <div class="contentContentDivD">{{it.goods_name}}</div>
                            <div class="contentContentDivDiv">￥<span>{{it.sort_order}}/瓶</span>
                                <s>￥{{it.shop_price}}/瓶</s>
                                <button class="button button-clear contentContentDivimgT" ng-click="openModal($index)">
                                    <img src="images/shopIcon.png" >
                                </button>
                            </div>
                        </div>
                    </div>

            </div>
        </ion-content>

</ion-view>