

<ion-modal-view class="modal">
    <!--承载模态窗口的页面必须写上class=“modal”  不写没有动画-->
    <div class="modalContent">
            <div class="modalContenta">
                <span>数量</span>
                <span class="shopCar">
                    <button class="icon ion-minus" ng-click="reduce()"></button>
                    <button>1</button>
                    <button class="icon ion-plus" ng-click="adds()"></button>
                </span>
            </div>
        <div class="button-bar">
            <a class="button button-assertive" ng-click="closeModal()">加入购物车</a>
            <a class="button button-balanced">立即购买</a>
        </div>
    </div>
</ion-modal-view>

