<ion-view class="sHop">

   <ion-header-bar></ion-header-bar>
    <ion-content>
        <div class="list sHopDiv" ng-repeat="it in items">
            <div style="margin: auto">sssss</div>
            <div class="item item-thumbnail-left">
                <img ng-src="{{'http://114.112.94.166/'+it.litpic}}" ng-click="doSome($index)" >
                <div class="sHopss">
                    <h2>{{it.title}}</h2>
                    <p>Nine Inch Nailssssssssssss</p>
                    <div>
                        <span>￥<span></span>{{it.price}}</span>
                        <span>x{{it.num}}</span>
                        <span class="button button-clear" ng-click="showConfirm($index)">
                            <img src="images/wastebin.png" >
                        </span>
                    </div>
                </div>

            </div>
        </div>

    </ion-content>
</ion-view>